
body {
  /* http://blog.purecss.io/post/60789414532/how-we-improved-grids-in-pure-030 */
  font-family: FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:visited {
  text-decoration: none;
  color: currentColor;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
}

h1, h2 {
  font-weight: bold;
}

h1, h2, h3 {
  margin: calc(2rem - .14285em) 0 1rem;
}

